

<div class="container pt-5 pl-3">
  <button (click)="osid()">PPPPPPPPPPPPPPPPPPPPPPPPPPP</button>
  <div class="row pt-3 d-flex justify-content-center">
    <h2 id="title" class="pb-2 ml-3"><b>    </b></h2>
  </div>
  <div class="row p-3 d-flex">
    <div class="col border shadow mr-1">
      <div class="header pt-2 "><h4 id="title">Istruzione e Formazione</h4></div>
      <hr>
      <div class="body p-2"><p>○ Istituto Tecnico E.Molinari Milano.
        Conseguito diploma di perito informatico nel 2018</p>
        <p>○ Academy Java
        </p>
      </div>
    </div>
    <div class="col border shadow ml-1">
      <div class="header pt-2"><h4 id="title">Esperienze lavorative</h4></div><hr>
      <div class="body p-2">
        <p>○ Nextre Engineering: Academista</p>
        <p>○ Beta 80: alternanza scuola lavoro</p>
      </div>
    </div>

  </div>
  <div class="row pb-3 px-3 d-flex">
    <div class="col border shadow mr-1">
      <div class="header pt-2 "><h4 id="title">Certificazioni conseguite</h4></div>
      <hr>
      <div class="body p-2"><p>○ Oracle Java Foundations</p>
        <p>○ Oracle Database Foundations</p>
        <p>○ PET Cambridge English</p>
        <p>○ CCNA Routing and Switching</p>
      </div>
    </div>
    <div class="col border shadow ml-1">
      <div class="header pt-2"><h4 id="title">Principali competenze</h4></div><hr>
      <div class="body p-2">
        <p>○ Java EE</p>
        <p>○ Jdbc</p>
        <p>○ Hibernate</p>
        <p>○ . . .</p>
      </div>
    </div>
  </div>
  <div class="row pt-3 d-flex justify-content-center">
    <h2 id="title" class="pb-2 ml-3"><b>Traguardi</b></h2>
  </div>
  <!--<div class="row pt-3 d-flex">
    <div class="col-xl-3 col-md-6 mb-4" *ngFor="let dash of dashboard;" >
      <div class="card shadow">
        <div class="card-body">
          <div class="row">
            <div  class="col">
              <h6 id="title">{{dash.title}}</h6>
              <hr>
              <div class="h5">{{dash.value | number:'0.2-2'}}{{dash?.type}} <i class="{{dash.falabel}} float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <div class="row pt-3">
    <div class="col">
      <div class="card shadow ">
        <div class="card-header py-3">
          <h5 id="title" class="m-0 font-weight">Projects</h5>
        </div>
        <!--<div class="card-body pr-5">
          <div *ngFor="let pro of projects">
            <h4  class="small font-weight-bold">{{pro.name}} <span class="float-right">{{pro.perc}}%</span></h4>
            <div class="progress mb-4">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{'width': pro.perc+'%', 'background-color': pro.color}"   aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>

</div>
